*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.first{
    text-align: center;
    background-image: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/img/bg-masthead.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 13.5rem 0;
}

.first h1{
    font-size: 88px;
    color: #212529;
   
}
.first h3{
    color: #212529;
    font-size: 28px;
    margin-bottom: 50px;
}
.first a{
    color: #ffff;
    font-size: 16px;
    background-color: #1D809F;
    padding: 20px 40px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.second{
    text-align: center;
    padding:6rem;
}

.second h2{
    font-size: 2rem;
    color: #212529;

}
.second p{
    font-size: 20px;
    color: #212529;
    margin-bottom: 50px;

}
.second a{
    color: #ffff;
    font-size: 16px;
    background-color: #343a40;
    padding: 20px 40px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;

}

.third{
    background-image: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/img/bg-callout.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 12rem 0;
    text-align: center;

}
.third{
    font-size: 56px;
    color: #212529;
}

.third a{
    color: #ffff;
    font-size: 16px;
    background-color: #1D809F;
    padding: 20px 40px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.fourth{
    background-color: #1D809F;
    text-align: center;
    padding: 6rem 0;
    
}
.fourth h2{
    font-size: 2rem;
    color: #ffff;
    margin-bottom: 50px;
}
.fourth .bir{
    color: #212529;
    font-size: 16px;
    background-color: #ffff;
    padding: 20px 40px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 15px;
}

.fourth .iki{
    color: #ffff;
    font-size: 16px;
    background-color:#212529;
    padding: 20px 40px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 15px;
}

.last{
    background-color: #1D809F;
    padding: 5rem 0;
    overflow: hidden;
}

.last .last-text{
    text-align: center;
    margin-bottom: 50px;
}
.last-text h3{
    color: #ecb807;
    font-size: 16px;
}
.last-text h2{
    color: #ffff;
    font-size: 48px;
}
.all .box{
    float: left;
    width: 25%;
    text-align: center;
}
.all .box h4{
    font-size: 24px;
    color: #fff;
}
.all .box p{
    font-size: 1re;
    color: #ffff;

}
.son{
    text-align: center;
    margin: 5rem 0;
}

.son p{
    font-size: 12.8px;
    color: #6c757d;
}













